absl-py==2.1.0
aiodns==1.2.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.9
aiosignal==1.3.1
amqp==5.3.1
aniso8601==7.0.0
annotated-types==0.7.0
anyio==4.6.2.post1
arrow==1.3.0
asgiref==3.8.1
attrs==23.2.0
autopep8==2.3.1
bcrypt==4.2.1
billiard==4.2.1
build==1.2.2.post1
CacheControl==0.14.1
cachetools==5.5.0
capirca==2.0.9
celery==5.3.6
certifi==2024.7.4
cffi==1.17.0rc1
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudvision==1.19.1
colorama==0.4.6
contourpy==1.3.1
crashtest==0.4.1
cron-descriptor==1.4.5
cryptography==42.0.8
cvprac==1.4.0
cycler==0.12.1
Cython==3.0.11
decorator==5.1.1
deepdiff==6.7.1
defusedxml==0.8.0rc2
diffsync==2.0.1
distlib==0.3.9
Django==4.2.16
django-ajax-tables==1.1.1
django-celery-beat==2.6.0
django-celery-results==2.5.1
django-constance==3.1.0
django-cors-headers==4.4.0
django-db-file-storage==0.5.6.1
django-extensions==3.2.3
django-filter==24.2
django-health-check==3.18.3
django-ipware==7.0.1
django-jinja==2.11.0
django-picklefield==3.2
django-pivot==1.9.0
django-prometheus==2.3.1
django-redis==5.4.0
django-silk==5.1.0
django-structlog==8.1.0
django-tables2==2.7.0
django-taggit==5.0.1
django-timezone-field==7.0
django-tree-queries==0.19.0
django-webserver==1.2.0
djangorestframework==3.15.2
djangorestframework-bulk==0.2.1
drf-react-template-framework==0.0.17
drf-spectacular==0.27.2
drf-spectacular-sidecar==2024.11.1
dulwich==0.21.7
durationpy==0.9
emoji==2.12.1
fastjsonschema==2.20.0
filelock==3.16.1
fonttools==4.55.0
fqdn==1.5.1
frozenlist==1.5.0
future==1.0.0
ghp-import==2.1.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.37.0
gprof2dot==2024.6.6
graphene==2.1.9
graphene-django==2.16.0
graphene-django-optimizer==0.8.0
graphql-core==2.3.2
graphql-relay==2.0.1
grpcio==1.68.1
gunicorn==23.0.0
h11==0.14.0
hier-config==2.3.0
httpcore==1.0.7
httpx==0.27.0
idna==3.7
inflection==0.5.1
installer==0.7.0
isodate==0.6.1
isoduration==20.11.0
jaraco.classes==3.4.0
jdiff==0.0.6
jeepney==0.8.0
Jinja2==3.1.4
jmespath==0.10.0
jsonpointer==2.4
jsonref==0.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
junos-eznc==2.7.2
keyring==24.3.1
kiwisolver==1.4.7
kombu==5.4.2
kubernetes==31.0.0
lxml==5.3.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.3
mdurl==0.1.2
mergedeep==1.3.4
mkdocs-get-deps==0.2.0
mock==5.1.0
more-itertools==10.5.0
msgpack==1.1.0
multidict==6.1.0
mypy-extensions==1.0.0
mysqlclient==2.2.6
napalm==4.1.0
-e git+ssh://git@github.com/PythonwithAvinashSharma/nautobot.git@3a13b22d77be1afd82833c5594b6976c6fe3285d#egg=nautobot
nautobot-capacity-metrics==3.1.1
nautobot-chatops==3.1.1
nautobot-consumables @ file:///home/ubuntu/nautobot-dev/nautobot/nautobot-app-consumables
nautobot-data-validation-engine==3.2.0
nautobot-design-builder==2.1.0
nautobot-device-lifecycle-mgmt==2.2.0
nautobot-device-onboarding==4.1.0
nautobot-firewall-models==2.2.0
nautobot-golden-config==2.2.1
nautobot-plugin-nornir==2.1.0
nautobot-ssot==3.2.0
nautobot-welcome-wizard==2.1.0
nautobot_ui_plugin @ file:///home/ubuntu/nautobot-dev/nautobot/nautobot-ui-plugin
ncclient==0.6.15
netaddr==1.3.0
netbox-topology-views @ file:///home/ubuntu/nautobot-dev/nautobot/nautobot/netbox-topology-views
netmiko==4.4.0
netutils==1.10.0
nh3==0.2.18
nornir==3.4.1
nornir-jinja2==0.2.0
nornir-napalm==0.4.0
nornir-nautobot==3.2.0
nornir-netmiko==1.0.1
nornir-utils==0.2.0
ntc_templates==6.1.0
numpy==1.26.4
oauthlib==3.2.2
ordered-set==4.1.0
packaging==23.2
paramiko==3.5.0
pathspec==0.12.1
pexpect==4.9.0
pillow==10.3.0
pkginfo==1.11.2
platformdirs==4.2.2
ply==3.11
poetry==1.8.4
poetry-core==1.9.1
poetry-plugin-export==1.8.0
prettytable==2.5.0
prometheus_client==0.20.0
promise==2.3
prompt_toolkit==3.0.48
propcache==0.2.1
protobuf==3.20.3
psycopg2-binary==2.9.10
ptyprocess==0.7.0
py==1.11.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycares==4.5.0
pycodestyle==2.12.1
pycountry==22.3.5
pycparser==2.22
pydantic==2.10.1
pydantic-settings==2.6.1
pydantic_core==2.27.1
pyeapi==1.0.4
Pygments==2.18.0
PyJWT==2.10.0
PyNaCl==1.5.0
pynautobot==2.4.2
pyparsing==3.2.0
pyproject_hooks==1.2.0
pyserial==3.5
PySocks==1.7.1
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-ipware==3.0.0
python-slugify==8.0.4
python3-openid==3.2.0
pyuwsgi==2.0.28.post1
PyYAML==6.0.2
pyyaml_env_tag==0.1
RapidFuzz==3.10.1
redis==5.2.0
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retry==0.9.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.19.0
rsa==4.9
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.12
Rx==1.6.3
schema-enforcer==1.4.0
scp==0.15.0
SecretStorage==3.3.3
setuptools==75.6.0
shellingham==1.5.4
singledispatch==4.1.0
six==1.16.0
slack_sdk==3.33.4
slurpit_nautobot==0.8.118
smmap==5.0.1
sniffio==1.3.1
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.2
structlog==24.4.0
svgwrite==1.4.3
termcolor==1.1.0
text-unidecode==1.3
textfsm==1.1.3
texttable==1.7.0
toml==0.10.2
tomlkit==0.13.2
transitions==0.9.2
trove-classifiers==2024.10.21.16
ttp==0.9.5
ttp-templates==0.3.7
types-protobuf==3.20.4.6
types-python-dateutil==2.9.0.20241003
types-PyYAML==6.0.12.20240917
types-requests==2.32.0.20241016
typing==3.7.4.3
typing_extensions==4.12.2
tzdata==2024.2
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.3
vine==5.1.0
virtualenv==20.27.1
watchdog==4.0.2
wcwidth==0.2.13
webcolors==24.11.1
webexteamssdk==1.6.1
websocket-client==1.8.0
wheel==0.45.1
xmldiff==2.7.0
yamllint==1.35.1
yamlordereddictloader==0.4.2
yarl==1.18.3
zipp==3.21.0
