{# naas/templates/naas/vlan_config_preview.jinja2 #}
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>VLAN Configuration Preview</h1>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Configuration Details</h2>
        </div>
        <div class="panel-body">
            <pre class="config-preview">
vlan {{ form_data.vlan }}
 name "{{ form_data.vlan_description }}"
!
interface Vlan{{ form_data.vlan }}
 description "{{ form_data.vlan_description }}"
 ip address {{ form_data.switch_ip }}
 administration {{ form_data.admin_state }}
            </pre>
        </div>
    </div>

    <form method="post" action="{% url 'plugins:naas:vlan-config-deploy' %}">
        {% csrf_token %}
        <input type="hidden" name="form_data" id="form_data">
        <button type="submit" class="btn-primary">Deploy Configuration</button>
    </form>
    <script>
        document.getElementById('form_data').value = JSON.stringify({{ form_data|safe }});
    </script>
</div>
{% endblock %}